Straightforward Processing of TMPRSS2 Data, just matches the format of the processed pubchem datasets outputted by Datasets_1_Prepare_PubChem_Datasets.ipynb

In [23]:
import pandas as pd

In [33]:
TMPRSS2 = pd.read_csv('../data/TMPRSS2.csv')
TMPRSS2.head()

,ID,SMILES,Activity,CHEMBL,CID,SID
0,24,C1C[C@H](N(C1)C(=O)[C@@H](CCCN=C(N)N)NS(=O)(=O...,19.0,1229259,46899577,134460981
1,25,CC(C)(C)OC(=O)C[C@H](C(=O)N1CCC[C@H]1C(=O)NCC2...,19.0,1809215,56677005,134456506
2,26,C1C[C@H](N(C1)C(=O)[C@@H](CCCCN)NS(=O)(=O)CC2=...,20.0,1809216,49835415,134441143
3,27,C1C[C@H](N(C1)C(=O)[C@@H](CCCCN=C(N)N)NS(=O)(=...,21.0,1809213,49835557,134441142
4,28,N=C(C1=CC=C(C=C1)CNC([C@@H]2CCCN2C([C@H](CCC3=...,44.0,0,0,0

In [34]:
# example of standard formatting
processed_example = pd.read_csv('../dumps/ST14_processed.csv')
processed_example.head()

,cid,acvalue,activity,smiles
0,11974,0.535,Active,C1=CC(=C(C=C1C(=N)N)Br)OCCCOC2=C(C=C(C=C2)C(=N...
1,432298,0.204,Active,C1=CC(=CC=C1C(=N)N)OC2=CC=C(C=C2)OC3=CC=C(C=C3...
2,411406,0.191,Active,C1=CC(=CC=C1C(=N)N)OCCCCCCOC2=C(C=C(C=C2)C(=N)N)I
3,135435498,4.500,Active,C1=CC(=CC=C1C(=N)N)N=NC2=C(C=CC3=CC4=C(C=CC(=C...
4,4735,1.160,Active,C1=CC(=CC=C1C(=N)N)OCCCCCOC2=CC=C(C=C2)C(=N)N

In [35]:
# match formatting
TMPRSS2 = TMPRSS2.rename(columns={'SMILES': 'smiles', 'Activity': 'acvalue', 'CID': 'cid'})
TMPRSS2 = TMPRSS2.drop(columns=['ID', 'CHEMBL', 'SID'])
TMPRSS2.head()

                                              smiles  acvalue       cid
0  C1C[C@H](N(C1)C(=O)[C@@H](CCCN=C(N)N)NS(=O)(=O...     19.0  46899577
1  CC(C)(C)OC(=O)C[C@H](C(=O)N1CCC[C@H]1C(=O)NCC2...     19.0  56677005
2  C1C[C@H](N(C1)C(=O)[C@@H](CCCCN)NS(=O)(=O)CC2=...     20.0  49835415
3  C1C[C@H](N(C1)C(=O)[C@@H](CCCCN=C(N)N)NS(=O)(=...     21.0  49835557
4  N=C(C1=CC=C(C=C1)CNC([C@@H]2CCCN2C([C@H](CCC3=...     44.0         0

We need to add a column specifying binary Active/Inactive.  The following method is pulled directly from Datasets_1_Prepare_PubChem_Datasets.ipynb.

In [38]:
activity_threshold = 50
TMPRSS2['activity'] = (TMPRSS2.acvalue < activity_threshold).map({True: 'Active', False: 'Inactive'})

In [42]:
# reorder columns, compare
TMPRSS2 = TMPRSS2[processed_example.columns]
print('TMPRSS2')
TMPRSS2.head()

TMPRSS2

,cid,acvalue,activity,smiles
0,46899577,19.0,Active,C1C[C@H](N(C1)C(=O)[C@@H](CCCN=C(N)N)NS(=O)(=O...
1,56677005,19.0,Active,CC(C)(C)OC(=O)C[C@H](C(=O)N1CCC[C@H]1C(=O)NCC2...
2,49835415,20.0,Active,C1C[C@H](N(C1)C(=O)[C@@H](CCCCN)NS(=O)(=O)CC2=...
3,49835557,21.0,Active,C1C[C@H](N(C1)C(=O)[C@@H](CCCCN=C(N)N)NS(=O)(=...
4,0,44.0,Active,N=C(C1=CC=C(C=C1)CNC([C@@H]2CCCN2C([C@H](CCC3=...

In [43]:
print('processed pubchem example')
processed_example.head()

processed pubchem example

,cid,acvalue,activity,smiles
0,11974,0.535,Active,C1=CC(=C(C=C1C(=N)N)Br)OCCCOC2=C(C=C(C=C2)C(=N...
1,432298,0.204,Active,C1=CC(=CC=C1C(=N)N)OC2=CC=C(C=C2)OC3=CC=C(C=C3...
2,411406,0.191,Active,C1=CC(=CC=C1C(=N)N)OCCCCCCOC2=C(C=C(C=C2)C(=N)N)I
3,135435498,4.500,Active,C1=CC(=CC=C1C(=N)N)N=NC2=C(C=CC3=CC4=C(C=CC(=C...
4,4735,1.160,Active,C1=CC(=CC=C1C(=N)N)OCCCCCOC2=CC=C(C=C2)C(=N)N

In [44]:
# export
TMPRSS2.to_csv('../dumps/TMPRSS2_processed.csv')